name: Sonar Continuous Integration

env:
  SONAR_ORG: 'erickorganizacion'                     # Nombre de la organización de SonarCloud
  SONAR_PROJECT: 'erickorganizacion_analizandoproyectos' # Key ID del proyecto de Sonar
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}           # Token de acceso de SonarCloud
  PHP_VERSION: '8.2'                                 # Versión de PHP
  SONAR_SCANNER_VERSION: '4.8.0.2856'                # Versión de SonarScanner
  JAVA_VERSION: '17'                                 # Versión de Java necesaria

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  sonarqube:
    name: Sonarqube Analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
          extensions: mbstring, xml, curl                # Extensiones de PHP necesarias

      - name: Install Java
        run: |
          sudo apt-get update
          sudo apt-get install -y openjdk-17-jdk
          java -version  # Verifica la instalación de Java

      - name: Install Composer
        run: |
          curl -sS https://getcomposer.org/installer | php
          mv composer.phar /usr/local/bin/composer

      - name: Install dependencies
        run: |
          cd biblioteca                                    # Cambia al directorio donde está composer.json
          composer install --prefer-dist --no-progress

      - name: Install SonarScanner
        run: |
          curl -sS -L https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-${{ env.SONAR_SCANNER_VERSION }}-linux.zip -o sonar-scanner.zip
          unzip sonar-scanner.zip
          mv sonar-scanner-* sonar-scanner
          sudo mv sonar-scanner /opt/sonar-scanner
          echo '/opt/sonar-scanner/bin' >> $GITHUB_PATH    # Agrega al PATH
          rm sonar-scanner.zip                             # Limpieza del archivo zip descargado

      - name: Run SonarScanner
        run: |
          /opt/sonar-scanner/bin/sonar-scanner -Dsonar.projectKey=${{ env.SONAR_PROJECT }} \
                        -Dsonar.organization=${{ env.SONAR_ORG }} \
                        -Dsonar.host.url=https://sonarcloud.io \
                        -Dsonar.login=${{ secrets.SONAR_TOKEN }}
