name: Sonar Continuous Integration

env:
  SONAR_ORG: 'erickorganizacion'                     # Nombre de la organizaci칩n de SonarCloud
  SONAR_PROJECT: 'erickorganizacion_analizandoproyectos' # Key ID del proyecto de Sonar
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}           # Token de acceso de SonarCloud
  PHP_VERSION: '8.1'                                 # Versi칩n de PHP
  SONAR_SCANNER_VERSION: '4.7.0.2740'                # Versi칩n de SonarScanner
  SONAR_SCANNER_URL: "https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/${{ env.SONAR_SCANNER_VERSION }}/sonar-scanner-${{ env.SONAR_SCANNER_VERSION }}-linux.zip"

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  sonarqube:
    name: Sonarqube Analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
          extensions: mbstring, xml, curl                # Extensiones de PHP necesarias

      - name: Install Composer
        run: |
          curl -sS https://getcomposer.org/installer | php
          mv composer.phar /usr/local/bin/composer

      - name: Install dependencies
        run: |
          cd biblioteca                                    # Cambia al directorio donde est치 composer.json
          composer install --prefer-dist --no-progress

      - name: Download SonarScanner
        run: |
          curl -sS -L ${{ env.SONAR_SCANNER_URL }} -o sonar-scanner.zip
          if [[ ! -f sonar-scanner.zip || ! unzip -tq sonar-scanner.zip ]]; then
            echo "Error: Failed to download a valid SonarScanner zip file."
            exit 1
          fi
          unzip sonar-scanner.zip
          mv sonar-scanner-* sonar-scanner
          sudo mv sonar-scanner /opt/sonar-scanner
          echo 'export PATH=$PATH:/opt/sonar-scanner/bin' >> $GITHUB_ENV
          rm sonar-scanner.zip                             # Limpieza del archivo zip descargado

      - name: Run SonarScanner
        run: |
          sonar-scanner -Dsonar.projectKey=${{ env.SONAR_PROJECT }} \
                        -Dsonar.organization=${{ env.SONAR_ORG }} \
                        -Dsonar.host.url=https://sonarcloud.io \
                        -Dsonar.login=${{ secrets.SONAR_TOKEN }}
